output
.vscode
.DS_Store
.idea
**/__snapshot__
**/*.tgz
**/charts/**/charts
**/charts/**/Chart.lock

# only ignore the values.yaml file at the root of the repo
/values.yaml
.devcontainer

# ignore local dev
values-dev.yaml
dry-run.yaml
values-test.yaml