output
.vscode
.DS_Store
.idea
**/__snapshot__
**/*.tgz
**/charts/**/charts
**/charts/**/Chart.lock

# only ignore any values*.yaml file at the root of the repo
/values*.yaml
.devcontainer

# ignore local dev
values-dev*
dry-run.yaml
.debug
bin
# Test
cmd/__debug_*
/test/component-tests/setup/simple-app
/test/component-tests/setup/codefresh-isc
**/test/component-tests/setup/values/runtime.values.yaml
**/test/component-tests/promotion/01-gitCommit/commit.json
**/test/component-tests/kubeconfig