*                                @codefresh-io/teamleads @masontikhonov

.github                          @codefresh-io/DevOps

# any change to the chart should go through devops
/charts/gitops-runtime/templates @codefresh-io/DevOps
/charts/gitops-runtime/tests     @codefresh-io/DevOps

# gitops operator crd changes can be approved by some other people
/charts/gitops-runtime/templates/_components/gitops-operator/crds @codefresh-io/DevOps @dmaizel @eti-codefresh @chen-keinan @scme0 @masontikhonov