* daniel.maizel@octopus.com noam.gal@octopus.com yaroslav.drachenko@octopus.com denis.melnyk@octopus.com pavel.kostohrys@octopus.com eti.zaguri@octopus.com

.github                         @codefresh-io/DevOps
charts/gitops-runtime/templates @codefresh-io/DevOps
