{{- $internalRouterContext := deepCopy . }}
{{- $_ := set $internalRouterContext "Values" (get .Values "internal-router") }}
{{- $_ := set $internalRouterContext.Values "global" (get .Values "global") }}
{{/*
Set workflows routing
*/}}
{{- if index (get .Values "argo-workflows") "enabled" }}
  {{- if not (index $internalRouterContext.Values "routing" "workflows") }}
    {{ $_ := set $internalRouterContext.Values.routing "workflows" (dict "enabled" true "internalUrl" ( include "codefresh-gitops-runtime.argo-workflows.server.url" . )) }}
  {{- end }}
{{- else }}
{{ $_ := set $internalRouterContext.Values.routing "workflows" (dict "enabled" false)}}
{{- end }}
{{/*
Set app-proxy routing
*/}}
{{- if not (index $internalRouterContext.Values "routing" "app-proxy") }}
  {{ $_ := set $internalRouterContext.Values.routing "app-proxy" (dict "enabled" true "internalUrl" ( include "codefresh-gitops-runtime.app-proxy.url" . )) }}
{{- end }}
{{- include "internal-router.resources.configmap" $internalRouterContext }}