apiVersion: v2
appVersion: 0.2.0
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 0.26.6
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: changed
      description: 'chore(CR-33123): updated kubectl for redis-secret-init job (#1040)'
    - kind: changed
      description: updated argo-cd to 3.2.3 (#1036)
    - kind: changed
      description: 'fix(sealed-secrets-controller): security vulnerabilities CVE-2025-47912, CVE-2025-58181, CVE-2025-58186, CVE-2025-58187, CVE-2025-58188, CVE-2025-58189, CVE-2025-61723, CVE-2025-61724, CVE-2025-61727, CVE-2025-61729 (#1038)'
    - kind: changed
      description: 'fix(cf-argocd-extras): security vulnerability CVE-2025-58181, CVE-2025-13281, CVE-2025-61727, CVE-2025-61729 (#1033)'
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.3.0
  - name: argo-events
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.4.9-cap-CR-30841
    condition: argo-events.enabled
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.17-v3.6.7-cap-CR-31761
    condition: argo-workflows.enabled
  - name: argo-rollouts
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.37.3-8-v1.7.2-cap-CR-31756
    condition: argo-rollouts.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.18.0
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.23
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
