apiVersion: v2
appVersion: 0.2.0
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 0.26.0
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: changed
      description: 'fix: bump app proxy with revert of git provider new support for 0.26  (#1079)'
    - kind: changed
      description: 'prepare-version(0.26.7): prepare chart content for release (#1066)'
    - kind: changed
      description: 'fix(enrichment-images): security vulnerabilities CVE-2025-66030, CVE-2025-15284, CVE-2025-14104, CVE-2025-66382, CVE-2025-13836 and CVE-2025-13837 (#1064)'
    - kind: changed
      description: 'prepare-version(0.26.6): prepare chart content for release (#1034)'
    - kind: changed
      description: '[app-proxy]fix: security vulnerabilities for app-proxy (CVE-2025-61729 and CVE-2025-61727) and app-proxy-init (CVE-2016-2781 and CVE-2024-10041) (#1048)'
    - kind: changed
      description: 'fix: security vulnerabilities in cap-app-proxy-init: CVE-2016-2781 and CVE-2024-10041; cap-app-proxy: CVE-2025-61729 and CVE-2025-61727 (#1043)'
    - kind: changed
      description: 'chore(CR-33123): updated kubectl for redis-secret-init job (#1040)'
    - kind: changed
      description: updated argo-cd to 3.2.3 (#1036)
    - kind: changed
      description: 'fix(sealed-secrets-controller): security vulnerabilities CVE-2025-47912, CVE-2025-58181, CVE-2025-58186, CVE-2025-58187, CVE-2025-58188, CVE-2025-58189, CVE-2025-61723, CVE-2025-61724, CVE-2025-61727, CVE-2025-61729 (#1038)'
    - kind: changed
      description: 'fix(cf-argocd-extras): security vulnerability CVE-2025-58181, CVE-2025-13281, CVE-2025-61727, CVE-2025-61729 (#1033)'
    - kind: changed
      description: Update Chart.yaml and changelog for 0.26.5 release (#1028)
    - kind: changed
      description: 'fix(codefresh-gitops-operator): security vulnerability CVE-2025-66626 (#1026)'
    - kind: changed
      description: 'prepare-version(0.26.4): prepare chart content for release (#1021)'
    - kind: changed
      description: 'fix(codefresh-tunnel-client): security vulnerabilities CVE-2025-9230, CVE-2025-9231, CVE-2025-9232, CVE-2025-46394, CVE-2024-58251 (#1025)'
    - kind: changed
      description: 'chore: update argocd to v3.2.2 (#1020)'
    - kind: changed
      description: 'prepare-version(0.26.3): prepare chart content for release (#1002)'
    - kind: changed
      description: 'revert: update app-proxy image tags to improve git providers support (#1017)'
    - kind: changed
      description: 'fix: security fixes for enrichment images (CVE-2025-64756, CVE-2025-65945, CVE-2025-66031, CVE-2025-12816, CVE-2025-8291, CVE-2025-6075, CVE-2025-12084) (#1012)'
    - kind: changed
      description: 'fix: update app-proxy image tags to improve git providers support (#1015)'
    - kind: changed
      description: 'fix: app-proxy fails to create a Workflow instance (#1008) (#1009)'
    - kind: changed
      description: updated nats-server-config-reloader (#1004)
    - kind: changed
      description: 'fix: update app-proxy image tags to latest version 5f0a3d5 (#1001)'
    - kind: changed
      description: 'prepare-version(0.26.2): prepare chart content for release (#1000)'
    - kind: changed
      description: 'build: upgrade `argo-workflows` (#998)'
    - kind: changed
      description: 'prepare-version(0.26.1): prepare chart content for release (#996)'
    - kind: changed
      description: 'chore(CR-31388): updated gitops-operator with security fixes (#983)'
    - kind: changed
      description: 'chore: security fixes for k8s client in Argo Rollouts v1.7.2 (#987)'
    - kind: changed
      description: updated cli-v2 for fixing CVE-2024-25621 "github.com/containerd/containerd" (#994)
    - kind: changed
      description: 'chore(CR-31776): updated cap-app-proxy (#985)'
    - kind: changed
      description: 'prepare-version(0.26.0): prepare chart content for release (#981)'
    - kind: changed
      description: added labeler github action (#973)
    - kind: changed
      description: 'fix: update gitops-operator image tag to 8cbca33 (#979)'
    - kind: changed
      description: 'fix: update namespace handling in cluster resource reporter (#964)'
    - kind: changed
      description: 'feat: ensure default-git-source exists on every app-proxy restart (#956)'
    - kind: changed
      description: '[gitops-operator]fix: remove git commit statuses (monthly/25.11) (#947)'
    - kind: changed
      description: 'feat: multi-runtime installation (#939) (#946)'
    - kind: changed
      description: '[app-proxy]fix(app-proxy): update autoDetectArgoCd to use new values structure (#943)'
    - kind: changed
      description: 'feat: checksum annotations (#938) (#942)'
    - kind: changed
      description: 'fix: update REQUIRED_VERSION_CONSTRAINT for Argo CD compatibility (#937) (#941)'
    - kind: changed
      description: '[cf-argocd-extras]chore: update depencencies (argo-cd 3.2) (#930)'
    - kind: changed
      description: 'feat: disable runtime redis by default (#927) (#934)'
    - kind: changed
      description: 'feat: add branch data to pullrequest info (#932)'
    - kind: changed
      description: 'feat: disable Argo Rollouts by default and enable namespace-scoped Argo Workflows (#917)'
    - kind: changed
      description: '[gitops-operator]fix: set transient error (#923)'
    - kind: changed
      description: 'fix: retry on notFound before updating resource status  (#914)'
    - kind: changed
      description: dummy PR (#909)
    - kind: changed
      description: 'chore: update app version and chart version in Chart.yaml to 1.0.0-rc.1 and 25.11-0 respectively'
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.3.0
  - name: argo-events
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.4.9-cap-CR-30841
    condition: argo-events.enabled
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.17-v3.6.7-cap-CR-31761
    condition: argo-workflows.enabled
  - name: argo-rollouts
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.37.3-8-v1.7.2-cap-CR-31756
    condition: argo-rollouts.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.18.0
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.23
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
