apiVersion: v2
appVersion: 0.2.0
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 0.26.4
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: changed
      description: 'fix: security fixes for enrichment images (CVE-2025-64756, CVE-2025-65945, CVE-2025-66031, CVE-2025-12816, CVE-2025-8291, CVE-2025-6075, CVE-2025-12084) (#1012)'
    - kind: changed
      description: 'fix: cap-app-proxy SA should get argo-server Role to handle Workflow resources (#1009)'
    - kind: changed
      description: updated nats-server-config-reloader (#1004)
    - kind: changed
      description: 'fix: update app-proxy image tags to latest version 5f0a3d5 (#1001) - feat: simplify clusters add/remove logic'
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.1.9
  - name: argo-events
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.4.9-cap-CR-30841
    condition: argo-events.enabled
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.17-v3.6.7-cap-CR-31761
    condition: argo-workflows.enabled
  - name: argo-rollouts
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.37.3-8-v1.7.2-cap-CR-31756
    condition: argo-rollouts.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.17.2
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.22
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
