apiVersion: v2
appVersion: 0.2.1
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 0.27.1
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: changed
      description: 'fix: security vulnerability in qs library CVE-2025-15284 (#1070)'
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.3.0
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.18-v3.6.7-cap-CR-32333
    condition: argo-workflows.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.18.0
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.23
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
