apiVersion: v2
appVersion: 1.0.0-rc.1
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 25.11-0
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: changed
      description: 'bump cap-app-proxy to 6201d13 (#943) - update autoDetectArgoCd to use new values structure (https://github.com/codefresh-io/argo-platform/pull/6931)'
    - kind: changed
      description: 'bump cap-app-proxy to 592eb04 (#932) - add branch data to pullrequest info (https://github.com/codefresh-io/argo-platform/pull/6918)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3909.0 (#902) - fix: PID exhaustion and zombie processes (https://github.com/codefresh-io/argo-platform/pull/6887)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3908.0 (#901) - add timeout to prevent git process accumulation (https://github.com/codefresh-io/argo-platform/pull/6886)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3883.0 (#878) - applicationLogs subscription should support apps in non-controller ns (https://github.com/codefresh-io/argo-platform/pull/6787)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3820.0 (#804) - Deleting cap-app-proxy deployment causes runtime to be down (https://github.com/codefresh-io/argo-platform/pull/6763)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3819.0 (#802) - use 'default' for ProviderError integration name (https://github.com/codefresh-io/argo-platform/pull/6759)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3816.0 (#795) - should lock status update by promotion id (https://github.com/codefresh-io/argo-platform/pull/6739)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3791.0 (#760) - add path to gitlog endpoint (https://github.com/codefresh-io/argo-platform/pull/6696)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3772.0 (#737) - git-source permissions are not being calculated for fine-grained tokens (https://github.com/codefresh-io/argo-platform/pull/6683)'
    - kind: changed
      description: 'bump cap-app-proxy to 1.3735 (#702) - fix security vulnerabilities (https://github.com/codefresh-io/argo-platform/pull/6643)'

    - kind: changed
      description: 'bump codefresh-gitops-operator to 3274011 - support v2 promotions'
    - kind: changed
      description: 'bump codefresh-gitops-operator to v0.11.1 (#666) - updated cloudflare/circl (https://github.com/codefresh-io/codefresh-gitops-operator/pull/249/files)'

    - kind: changed
      description: 'bump cf-argocd-extras to 5ad6886 (#930) - update dependencies (https://github.com/codefresh-io/cf-argocd-extras/pull/93)'
    - kind: changed
      description: 'bump cf-argocd-extras to d4fefcb (#845) - fixed wrong attribute key for resource, unified value between runtime/cluster event reporter (https://github.com/codefresh-io/cf-argocd-extras/pull/85)'
    - kind: changed
      description: 'bump cf-argocd-extras to e746a97 (#819) - chore: remove sharding logic from event-reporter (https://github.com/codefresh-io/cf-argocd-extras/pull/84)'
    - kind: changed
      description: 'bump cf-argocd-extras to c74d94c (#725) - fix security vulnerabilities (https://github.com/codefresh-io/cf-argocd-extras/pull/79)'

    - kind: changed
      description: 'feat: multi-runtime installation (#939) (#946)'
    - kind: changed
      description: 'feat: checksum annotations (#942)'
    - kind: changed
      description: 'fix: update REQUIRED_VERSION_CONSTRAINT for Argo CD compatibility (#941)'
    - kind: changed
      description: 'feat: disable Argo Rollouts by default and enable namespace-scoped Argo Workflows (#917)'
    - kind: changed
      description: 'build: add telemetry configs (#848)'
    - kind: changed
      description: 'upd cli-v2 , debian for installer (#849)'
    - kind: changed
      description: 'fix: security vulnerabilities in enrichment images  (#788)'
    - kind: changed
      description: 'refactor(cf-argocd-extras): replace argo-events runtime and cluster event-reporters, rename sources-server argo-gateway (#744)'
    - kind: changed
      description: 'chore: move argo-cd auth values to global.integrations.argo-cd.server.auth (#768)'
    - kind: changed
      description: 'installer: updated cli-v2, kubectl (#697)'

    - kind: changed
      description: 'feat: switched to OSS Argo CD and Argo Helm, removed Argo CD CF specific value (#823)'
    - kind: changed
      description: 'bump argo-rollouts helm chart to 2.37.3-7-v1.7.2-cap-OSS-697 (#730) - fix security vulnerabilities (https://github.com/codefresh-io/argo-helm/pull/196)'
    - kind: changed
      description: 'bump argo-events helm chart to 2.4.9-cap-CR-30841 (#716) - fix security vulnerabilities (https://github.com/codefresh-io/argo-helm/pull/192)'
    - kind: changed
      description: 'bump argo-workflows helm chart to 0.45.16-v3.6.7-cap-CR-30835 (#716) - fix security vulnerabilities (https://github.com/codefresh-io/argo-helm/pull/193)'
    - kind: changed
      description: 'bump codefresh-tunnel-client helm chart to 0.1.22 (#693)'
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.0.2
  - name: argo-events
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.4.9-cap-CR-30841
    condition: argo-events.enabled
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.16-v3.6.7-cap-CR-30835
    condition: argo-workflows.enabled
  - name: argo-rollouts
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.37.3-7-v1.7.2-cap-OSS-697
    condition: argo-rollouts.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.17.2
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.22
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
