apiVersion: v2
appVersion: 0.2.1
description: A Helm chart for Codefresh gitops runtime
name: gitops-runtime
version: 0.27.0
home: https://github.com/codefresh-io/gitops-runtime-helm
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
keywords:
  - codefresh
  - gitops
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/alternativeName: "codefresh-gitops-runtime"
  artifacthub.io/changes: |-
    - kind: added
      description: "Support for running without Redis configured (#919)"
    - kind: added
      description: "Support for runtime uninstallation"
    - kind: added
      description: "Support for confirm deletion/pruning feature of ArgoCD (#1046)"
    - kind: added
      description: "New MRC change revisions annotations support (#1005)"
    - kind: added
      description: "Added deleted field to app event payload in event-reporter (#1039)"
    - kind: changed
      description: "Updated argo-cd to 3.2.2 (#1019)"
    - kind: changed
      description: "Updated app-proxy to improve git providers support (#1014)"
    - kind: removed
      description: "Removed argo-rollouts from gitops-runtime helm chart (#1051)"
    - kind: fixed
      description: "Set transient error on app sync failure (#922)"
    - kind: fixed
      description: "Resolved runtime application out-of-sync issue"
    - kind: fixed
      description: "Removed git commit statuses from gitops-operator (#940)"
    - kind: security
      description: "Fixed security vulnerabilities for argo-workflows (#1047)"
dependencies:
  - name: argo-cd
    repository: https://argoproj.github.io/argo-helm
    condition: argo-cd.enabled
    version: 9.3.0
  - name: argo-events
    repository: https://codefresh-io.github.io/argo-helm
    version: 2.4.9-cap-CR-30841
    condition: argo-events.enabled
  - name: argo-workflows
    repository: https://codefresh-io.github.io/argo-helm
    version: 0.45.18-v3.6.7-cap-CR-32333
    condition: argo-workflows.enabled
  - name: sealed-secrets
    repository: https://bitnami-labs.github.io/sealed-secrets/
    version: 2.18.0
    condition: sealed-secrets.enabled
  - name: codefresh-tunnel-client
    repository: oci://quay.io/codefresh/charts
    version: 0.1.23
    alias: tunnel-client
    condition: tunnel-client.enabled
  - name: redis-ha
    version: 4.33.4
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
