{{- define "event-reporters.rollout-reporter.sensor"}}
apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: rollout-reporter
  labels:
    {{- include "event-reporters.rollout-reporter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rollout.sensor.replicas }}
  dependencies:
  - name: rollouts
    eventSourceName: rollout-reporter
    eventName: rollouts
  - name: replicasets
    eventSourceName: rollout-reporter
    eventName: replicasets
  - name: analysisruns
    eventSourceName: rollout-reporter
    eventName: analysisruns
  eventBusName: {{ default "codefresh-eventbus" .Values.global.runtime.eventBus.name }}
  template:
    serviceAccountName: {{ include "event-reporters.rollout-reporter.serviceAccountName" .}}
    container:
      name: ""
      resources:
      {{- with .Values.rollout.eventSource.resources  }}
        {{- . | toYaml | nindent 8 }}
      {{- end }}
    tolerations:
    {{- with .Values.rollout.eventSource.tolerations }}
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    nodeSelector:
    {{- with .Values.rollout.eventSource.nodeSelector }}
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    affinity:
    {{- with .Values.rollout.eventSource.affinity }}
      {{- . | toYaml | nindent 6 }}
    {{- end }}
  triggers:
  {{- include "event-reporters.http.trigger" (dict "name" "rollouts" "Values" .Values "payloadDest" "data.object") | nindent 4 }}
  {{- include "event-reporters.http.trigger" (dict "name" "replicasets" "Values" .Values "payloadDest" "data.object") | nindent 4 }}
  {{- include "event-reporters.http.trigger" (dict "name" "analysisruns" "Values" .Values "payloadDest" "data.object") | nindent 4 }}
{{- end }}
