global:
  codefresh:
    accountId: 63dbba4928d5fd1ef065b781 # gitops-helm-test account

  runtime:
    ingress:
      enabled: true
      className: haproxy-ingress
      hosts:
      - domain.will.be.replaced.by.ci.pipeline
