{{- define "codefresh-gitops-runtime.app-proxy.extra-volumes" }}
extraVolumes:
  {{- if or .Values.global.codefresh.tls.caCerts.secret.create .Values.global.codefresh.tls.caCerts.secretKeyRef }}
  - name: codefresh-tls-certs
    secret:
      secretName: {{ .Values.global.codefresh.tls.caCerts.secret.create | ternary "codefresh-tls-certs" .Values.global.codefresh.tls.caCerts.secretKeyRef.name }}
      defaultMode: 420
      optional: true
  {{- end }}
{{- end }}

{{- define "codefresh-gitops-runtime.app-proxy.init.extra-volume-mounts" }}
extraVolumeMounts:
  {{- if or .Values.global.codefresh.tls.caCerts.secret.create .Values.global.codefresh.tls.caCerts.secretKeyRef }}
  - mountPath: /app/config/codefresh-tls-certs
    name: codefresh-tls-certs
    readOnly: true
  {{- end }}
{{- end }}
