{{/* 
Some app-proxy environment variables are determined by values provided in other components,
to keep the separation of components as pseudo library charts, they are defined here to be merged when
app-proxy components are generated.
*/}}
{{- define "codefresh-gitops-runtime.app-proxy.calculated-env-vars"}}
HELM_RELEASE_NAME: {{ .Release.Name }}
USER_TOKEN:
  {{- include "codefresh-gitops-runtime.installation-token-env-var-value" . | nindent 2 }}
  {{- if or .Values.global.runtime.gitCredentials.password.value .Values.global.runtime.gitCredentials.password.secretKeyRef }}
GIT_USERNAME: {{ .Values.global.runtime.gitCredentials.username }}
GIT_PASSWORD: 
  {{- include "codefresh-gitops-runtime.runtime-gitcreds.password.env-var-value" . | nindent 2 }}
  {{- end }}
WORKFLOW_PIPELINES_WEBHOOKS_TLS_SECRET: codefresh-workflow-pipelines-tls
{{- /* Target account id, used for hosted runtimes registration. Not used in hybrid */}}
  {{- if .Values.global.codefresh.accountId }}
TARGET_RUNTIME_ACCOUNT_ID: {{ .Values.global.codefresh.accountId }}
  {{- end }}
{{- end }}
