{{- if  not .Values.installer.skipValidation }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: validate-values-config
data:
  values.yaml: |
{{ .Values | toYaml | indent 4 }}

---
apiVersion: batch/v1
kind: Job
metadata:
  name: validate-values
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: hook-succeeded,before-hook-creation
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 300
  template:
    spec:
      serviceAccount: validate-values-sa
      restartPolicy: Never
      containers:
      - name: validate-values
        image: "{{ .Values.installer.image.repository }}:{{ .Values.installer.image.tag | default .Chart.Version }}"
        imagePullPolicy: {{ .Values.installer.image.pullPolicy }}
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: VERSION
          value: {{ .Chart.Version }}
        command: ["sh", "-c"]
        args: 
        - cf helm validate --values /job_tmp/values.yaml --namespace ${NAMESPACE} --version ${VERSION} --hook --log-level debug
        volumeMounts:
        - name: customized-values
          mountPath: "/job_tmp"
      volumes:
      - name: customized-values
        configMap:
          name: validate-values-config  
{{- end }}
